.card {
  box-sizing: border-box;
  background-color: #fff;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;

  &__photo {
    display: block;
    box-sizing: border-box;
    position: center;
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
    object-fit: cover;
  }

  &__main {
    margin-bottom: 16px;
  }

  &__title {
    align-self: center;
    font-family: $font-main;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    color: $main-accent;
    margin: 0;
    width: 166px;
    padding-bottom: 4px;
  }

  &__code {
    font-family: $font-main;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $secondary-accent;
    letter-spacing: 0;
    margin: 0;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    letter-spacing: 0;
    background-color: $blue-accent;
    border: none;
    border-radius: 5px;
    width: 166px;
    height: 40px;
    margin: 0;
    padding: 0;

    &:hover {
      box-sizing: border-box;
      background-color: transparent;
      color: $blue-accent;
      border-radius: 5px;
      border: 1px solid $blue-accent;
      width: 166px;
      height: 40px;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &-text {
      font-family: $font-main;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $secondary-accent;
      letter-spacing: 0;
      margin: 0;
    }

    &-suma {
      font-family: $font-main;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: $main-accent;
      letter-spacing: 0;
      margin: 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__reviews {
    justify-content: center;
    column-gap: 17px;
    font-family: $font-main;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0;
    color: $main-accent;
    margin: 0;
    padding: 0;
  }
}
